# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
*.env
.venv/

# Ignore IDE-specific files (e.g., for VS Code, PyCharm)
.vscode/
.idea/

# Ignore logs and database files
*.log
*.sqlite3
